/* Components */
@import url('components/hero.css');
@import url('components/footer.css');
@import url('components/header.css');
@import url('components/long-form.css');

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root{
	/* Colors */
	--white: 252, 252, 252;
	--light-blue: 219, 228, 243;
	--blue: 133, 145, 173;
	--yellow: 253, 185, 60;
	--beige: 240, 205, 183;
	--light-pink: 236, 193, 193;
	--pink: 255, 175, 174;
	--orange: 232, 125, 87;
	--red: 179, 76, 69;
	--light-green: 130, 173, 77;
	--green: 61, 145, 101;
	--black:42, 45, 52;
	--grey: 220, 220, 220;
	--dark-gray: 120, 120, 120;

	/* Other */
	--border-radius: 12px;
	--space-between: 24px;
	--padding: 24px;
}

body {
	font-family: 'Roboto', sans-serif;
	color: rgba(var(--white), 1);
	background-color: rgba(var(--pink),1);
}

h1 {
	font-family: 'Adamina', serif;
	color: rgb(var(--white));
}

h2 {
	font-size: 24px;
	color: rgb(var(--pink));
	margin-bottom: 16px;
	margin-top: 56px;
}

h3 {
	margin-top: 24px;
	font-size: 20px;
}

p {
	font-size: 16px;
}

a {
	color: rgb(var(--white));
  	text-decoration: none;
	transition: color .1s linear;
}

a:hover, a:active {
	color: rgb(var(--pink));
}