/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* Colors */
:root{
	--white: 252, 252, 252;
	--light-blue: 219, 228, 243;
	--blue: 133, 145, 173;
	--yellow: 253, 185, 60;
	--beige: 240, 205, 183;
	--light-pink: 236, 193, 193;
	--pink: 255, 175, 174;
	--orange: 232, 125, 87;
	--red: 179, 76, 69;
	--green: 61, 145, 101;
	--dark-gray: 42, 45, 52;
	--black: 0, 0, 0;
}

body {
	font-family: 'Roboto', sans-serif;
	color: rbg(var(--white));
	background-color: var(--blue);
}

h1 {
	font-family: 'Adamina', serif;
	color: rgb(var(--white));
}

.navbar {
	padding-top: 32px;
	padding-bottom: 32px;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(var(--white), 0.5);
}

.navbar-light .navbar-nav .nav-link.active {
	color: rgba(var(--white), 1);
}

.navbar-light .navbar-nav .nav-link {
	padding: 16px;
}

.hero {
	background-image:
	linear-gradient(to bottom left, rgba(var(--blue), 0.6), rgba(var(--pink), 0.6)),
	url("../images/hero_background_image.png");
	background-position: center;
	background-size: cover;
	min-height: 100vh;
}

.hero-main {
	background-image:
	linear-gradient(to top left, 
		rgba(var(--orange), 0.2), 
		rgba(var(--pink), 0.4), 
		rgba(var(--yellow), 0.2));
	background-color: rgb(var(--pink));
	border-radius: 8px;
	padding: 80px;
}