/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root{
	/* Colors */
	--white: 252, 252, 252;
	--light-blue: 219, 228, 243;
	--blue: 133, 145, 173;
	--yellow: 253, 185, 60;
	--beige: 240, 205, 183;
	--light-pink: 236, 193, 193;
	--pink: 255, 175, 174;
	--orange: 232, 125, 87;
	--red: 179, 76, 69;
	--green: 61, 145, 101;
	--dark-gray: 42, 45, 52;
	--black: 0, 0, 0;

	/* Other */
	--border-radius: 12px;
	--space-between: 24px;
}

body {
	font-family: 'Roboto', sans-serif;
	color: rgba(var(--white), 1);
	background-color: rgba(var(--black),1);
}

h1 {
	font-family: 'Adamina', serif;
	color: rgb(var(--white));
}

/* Hero */
.hero-background {
	background-image: url("../images/hero-background.png");
	background-position: center;
	background-size: cover;
}

.hero-gradient {
    background: linear-gradient(225deg, rgba(var(--light-blue),0.5), rgba(var(--pink),0.6), rgba(var(--light-pink),0.5), rgba(var(--blue),0.6));
    background-size: 800% 800%;

    -webkit-animation: GradientAnimation 40s ease infinite;
    -moz-animation: GradientAnimation 40s ease infinite;
    animation: GradientAnimation 40s ease infinite;
}

@-webkit-keyframes GradientAnimation {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@keyframes GradientAnimation {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}

.hero-content {
	min-height: 100vh;	
	padding: 24px;

	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;

	text-align: center;
}

.hero-content h1 {
	max-width: 720px;
}

.hero-logo-main {
	width: 72vw;
	max-width: 280px;
	margin-bottom: var(--space-between);
}

.hero-cta {
	margin-top: 56px;
	margin-left: auto;
	margin-right: auto;
	/*max-width: 320px;*/
}

.hero-logo-garden {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.hero-logo-garden img {
	width: 100%;
	max-width: 184px;
	height: auto;
	padding-bottom: 8px;
}

footer {
	background-color: rgba(var(--black),1);
	padding: 32px;
}

.legal-line {
	font-size: 12px;
}